h1 Hello #{@request.user.name},
p Your pincannarx.com account password has been reset by the administrator, per your request.
p Your new password is: <b>#{@temp_password}</b>
p Sign in at https://staff.pincannarx.com
hr
p On #{@request.created_at.strftime('%m/%d/%y')} you requested an account password reset.(Request ID: #{@request.id})